.home-body {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  .home-body {
    height: 100vh;
    overflow: scroll;
  }

  .grid {
    height: 550px !important;
  }

  .grid-image {
    height: auto !important;
    min-height: auto !important;
  }

  .side-image {
    width: 100% !important;
    height: auto !important;
    min-height: auto !important;
    margin-top: 100px !important;
  }

  .page-logo {
    margin-left: 20px !important;
  }
}

@media (max-width: 768px) {
  .grid {
    height: 600px !important;
  }

  .side-image {
    width: 100% !important;
    height: auto !important;
    min-height: auto !important;
    margin-top: 100px !important;
  }
}

.grid {
  transition: all 0.5s ease;
  pointer-events: auto;
}

.grid-container .row {
  margin-bottom: 0px;
}

.grid-container .content-continer {
  width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.grid-image {
  width: 100%;
  max-height: 300px;
  margin-top: 20px;
}

.side-image {
  width: 40%;
  max-height: 300px;
  min-height: 100px;
  margin-top: 20px;
}

.grid-title {
  color: var(--text-primary-color);
}

.grid-subtitle {
  color: var(--text-primary-color);
  font-family: "Merriweather", serif;
}

.grid-title::after {
  display: block;
  position: relative;
  margin-left: 2px;
  width: 25px;
  height: 5px;
  background: #fff;
  content: "";
}

.grid-1 {
  background: var(--light-primary-color);
  height: 100vh;
}

.grid-2 {
  background: var(--default-primary-color);
  height: 50vh;
}

.grid-3 {
  background: var(--dark-primary-color);
  height: 50vh;
}

.page-logo {
  width: 60px;
  margin-left: 60px;
}
