body {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

@media screen and (max-width: 600px) {
  body {
    height: 100vh;
    overflow: scroll;
  }

  .grid {
    height: 100vh !important;
  }

  .grid-image {
    margin-top: 0px;
    height: 100px;
  }
}

.grid {
  transition: all 0.5s ease;
}

.grid-container .row {
  margin-bottom: 0px;
}

.grid-image {
  width: 100%;
  height: 50vh;
  margin-top: 80px;
}

.grid-title {
  color: var(--primary-text-color);
  text-transform: uppercase;
}

.grid-1 {
  background: var(--light-primary-color);
  height: 100vh;
}

.grid-2 {
  background: var(--default-primary-color);
  height: 50vh;
}

.grid-3 {
  background: var(--dark-primary-color);
  height: 50vh;
}
