/* Color Pallet */
:root {
  --dark-primary-color: #0e1d28;
  --default-primary-color: #ff6464;
  --light-primary-color: #0c3543;
  --text-primary-color: #ffffff;
  --accent-color: #416f7f;
  --primary-text-color: #114b5f;
  --secondary-text-color: #0c3543;
  --divider-color: #bdbdbd;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Navbar CSS */
.side-bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 78px;
  background: white;
  color: black;
  padding: 6px 14px;
  transition: all 0.5s ease;
  z-index: 99999;
}

.side-bar.active {
  width: 240px;
}

.side-bar .logo-content .logo {
  color: black;
  display: flex;
  width: 100%;
  align-items: center;
  opacity: 0;
  pointer-events: none;
}

.side-bar.active .logo-content .logo {
  opacity: 1;
}

.logo-content {
  height: 50px;
}

.logo-content .logo img {
  font-size: 20px;
  border-radius: 12px;
}

.logo-content .logo .logo-name {
  font-size: 14px;
  font-weight: 400;
  transition: all 0.5s ease;
  opacity: 0;
}

.logo-content .logo .logo-subtext {
  font-size: 13px;
  font-weight: 300;
  transition: all 0.5s ease;
  opacity: 0;
}

.side-bar.active .logo-content .logo .logo-name {
  opacity: 1;
}

.side-bar.active .logo-content .logo .logo-subtext {
  opacity: 1;
}

.side-bar #menuBtn {
  position: absolute;
  color: black;
  left: 50%;
  top: 6px;
  font-size: 20px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translatex(-50%);
}

.side-bar.active #menuBtn {
  left: 90%;
}

.side-bar ul {
  margin-top: 20px;
}

.side-bar ul li {
  position: relative;
  height: 50px;
  width: 100%;
  margin: 0 0px;
  list-style: none;
  border-radius: 12px;
}

.side-bar ul li a {
  color: black;
  display: flex;
  align-items: center;
  font-size: 18px;
  border-radius: 12px;
  transition: all 0.4s ease;
}

.side-bar ul li a i {
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
}

.nav-list {
  margin-top: 30px !important;
}

.side-bar .link-name {
  opacity: 0;
  pointer-events: none;
}

.side-bar.active .link-name {
  opacity: 1;
  pointer-events: auto;
}

.side-bar ul li .switch {
  display: flex;
  align-items: center;
  font-size: 18px;
  border-radius: 12px;
  transition: all 0.4s ease;
}

.side-bar ul li .switch {
  display: flex;
  align-items: center;
  font-size: 18px;
  border-radius: 12px;
  transition: all 0.4s ease;
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  margin-left: -8px;
}

.switch label input[type="checkbox"]:checked + .lever {
  background-color: var(--default-primary-color);
}

.switch label input[type="checkbox"]:checked + .lever:after {
  background-color: var(--default-primary-color);
}

.side-bar.active .switch i {
  opacity: 1;
}

.switch i {
  opacity: 0;
}

/* General Homepage CSS */
.content-container {
  position: absolute;
  height: 100%;
  width: calc(100% - 78px);
  left: 78px;
  transition: all 0.5s ease;
}

.side-bar.active ~ .content-container {
  width: calc(100% - 240px);
  left: 240px;
}

.display-none {
  display: none;
}

.card {
  transition: all 0.5s ease;
}

.jeader {
  display: flex;
}

.test {
  /* background-color: red; */
  margin: 10px;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
}

.section-body {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  padding-left: 10px;
}

/* background BB8 Loader */
.background-loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--dark-primary-color);
  z-index: -1;
  transition: all 2s ease;
}

.background-loader .sand {
  background-color: #b69c77;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0%;
  z-index: -2;
}
