.feed-container {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

#instafeed {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.feed-container .inner-container {
  width: 100%;
  min-height: 100vh;
}

.feed-subtitle {
  font-style: italic;
}

.video-container {
  max-height: 300px;
}

#instafeed .card-action a {
  color: var(--default-primary-color);
}

#instafeed .card-content p {
  color: var(--text-primary-color);
  transition: all 0.5s ease;
}

#instafeed .card-title {
  font-size: 1.3em;
}
