#para-cont {
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */
  /* transition: all 3s ease-in-out; */
  background-color: black;
  max-width: 1500px;
  margin-right: auto;
  margin-left: auto;
}

#para-cont::-webkit-scrollbar {
  display: none;
}

.cover-container {
  width: 100%;
  height: 100%;
}

.cover-background {
  position: absolute;
  width: 100%;
  height: calc(100vh);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.cover-title {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 40%;
  color: white;
}

.cover-title .sub {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.5s ease;
}

.moving-line {
  position: absolute;
  right: auto;
  left: 50%;
  top: 62%;
  width: 2px;
  max-height: 500px;
  background-color: hsla(0, 0%, 100%, 0.4);
  overflow: hidden;
}

.cover-foreground {
  position: absolute;
  width: 100%;
  height: calc(100vh);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.content-grid {
  margin: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 10%;
}

.content-grid .col {
  position: relative;
  border: 1px solid hsla(0, 0%, 100%, 0.2);
  height: 50vh;
  text-align: center;
  vertical-align: middle;
}

.content-grid .col .grid-image-para:hover {
  /* transform: scale(1.2); */
}

.content-grid .grid-image-para {
  position: relative;
  height: 100px;
  transition: all 0.2s ease-in-out;
  top: 20%;
}

.content-grid .text-cont {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

@media screen and (max-width: 600px) {
  .cover-background {
    height: 100vh;
    background-position: 50% 0%;
  }
  .cover-foreground {
    background-position: 50% 0%;
  }

  .cover-title .sub {
    width: 80% !important;
  }

  .content-grid {
    top: 0%;
  }
}

@media (max-width: 1000px) {
  .cover-background {
    height: 100vh;
    background-position: 50% 0%;
  }
  .cover-foreground {
    background-position: 50% 0%;
  }
  .cover-title .sub {
    width: 50%;
  }

  .content-grid .grid-image-para {
    height: 80px;
  }
}

/* icon scroll */
.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
}
.icon-scroll {
  width: 25px;
  height: 40px;
  margin-left: -12px;
  bottom: -100%;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
}
.icon-scroll:before {
  content: "";
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll;
}
@-webkit-keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}
